<div id="dashboard" class="page-layout carded" fusePerfectScrollbar>
  <div class="center" fxLayout="column" fxLayoutGap="5px">

    <div fxFlex fxLayout class="mt-16">
      <div class="tile mx-20" fxFlex="50" fxLayout="column" style="background-color: white;height: 300px !important;">
        <div class="position-relative p-12" fxLayout="row" fxLayoutAlign="space-between center">
          <span>APPROVED / PENDING INVOICES</span>
          <span class="smallerFont">Past 7 Days</span>
          <img src="assets/images/adjust.svg" style="height: 15px !important;">
        </div>
        <div style="border-bottom: 2px solid #F3F6EE;"></div>
        <div id="doughnutChart" fxFlex fxLayoutAlign="center">
          <div style="display:block;height:200px;width: 330px;">
            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" s [chartType]="doughnutChartType"
              [options]="doughnutChartOptions" [colors]="colors">
            </canvas>
          </div>
          <!-- <span>Kame hame</span> -->
        </div>
      </div>
      <div class="tile mx-20" fxFlex="50" fxLayout="column" style="background-color: white;height: 300px !important;">
        <div class="position-relative p-12" fxLayout="row" fxLayoutAlign="space-between center">
          <span>DELIVERY STATUS</span>
          <span class="smallerFont">Past 7 Days</span>
          <img src="assets/images/adjust.svg" style="height: 15px !important;">
        </div>
        <div style="border-bottom: 2px solid #F3F6EE;"></div>
        <div id="doughnutChart" fxFlex fxLayoutAlign="center">
          <div style="display:block;height:200px;width:320px">
            <canvas baseChart [data]="doughnutChartData1" [labels]="doughnutChartLabels1" [chartType]="doughnutChartType1"
              [options]="doughnutChartOptions1" [colors]="colors1">
            </canvas>
          </div>
        </div>
      </div>
    </div>

    <div style="border-bottom: 2px solid #F3F6EE;" class="my-12 mx-24"></div>

    <div fxFlex style="margin-left: 20px !important;">
      <div fxLayoutAlign="start center" style="margin-left: 20px;" class="pt-8">
        <span class="orangeBorderBottom h2"> INVOICES </span>
      </div>

      <div fxLayout="row">

        <div class="card m-16" *ngFor="let inv of allInvoiceHeaderDetails">
          <div class="card-preview">
            <div class="fuse-card variable-width">
              <div class="p-16 cardHeader" fxLayout="row" fxLayoutAlign="center center">
                <div class="text-bold">INVOICE NO : <span class="colorPrimary">{{inv.INV_NO}}</span></div>
              </div>
              <div class="ml-24 py-16">
                <div class="px-4">
                  <img src="assets/images/bunka.png">
                  <span class="pl-16 h6 secondary-text">Vehicle No:</span>
                  <div class="ml-8 dashhBorder customLineHeight">
                    <span class="h4 pl-24 py-8">{{inv.VEHICLE_NO}}</span>
                  </div>
                </div>
                <div class="px-4">
                  <img src="assets/images/bunka.png">
                  <span class="pl-16 h6 secondary-text">Ewaybill No:</span>
                  <div class="ml-8 dashhBorder customLineHeight">
                    <span class="h4 pl-24 py-8">{{inv.EWAYBILL_NO}}</span>
                  </div>
                </div>
                <div class="px-4">
                  <img src="assets/images/bunka.png">
                  <span class="pl-16 h6 secondary-text">Outbound Delivery:</span>
                  <div class="ml-8 customLineHeight">
                    <span class="h4 pl-24 py-8">{{inv.OUTBOUND_DELIVERY}}</span>
                  </div>
                </div>

              </div>
              <div class="pb-16" fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button class="buttonPrimary">View Details</button>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <mat-progress-spinner *ngIf="isProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
  </mat-progress-spinner>
  <div id="overlay" *ngIf="isProgressBarVisibile"></div>
</div>